.card-content1{
    width:350px;
    min-width: 300px;
    height: 350px;
    margin: 7em;
    color: #FFFFFF;
    background: linear-gradient(180deg, #009FE1 5.52%, rgba(53, 175, 228, 0.584746) 31.25%, rgba(127, 198, 232, 0) 56.98%, rgba(118, 203, 240, 0.469404) 80.54%);
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
border-radius: 15px;
text-align: center;

}

.loginCard-heading{
    background: #FFFFFF;

    min-height: 90px;
    background: linear-gradient(180deg, #009FE1 5.52%, rgba(53, 175, 228, 0.584746) 31.25%, rgba(127, 198, 232, 0) 56.98%, rgba(118, 203, 240, 0.469404) 80.54%);
}

.login-text{
    color:#232323;
    padding:0.8em;
}

.textField {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

.text-fields-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

input{
    width: 200px;
height: 30px;
border: none;
padding: 10px;
background: #FFFFFF;
box-shadow: 0px 1px 4px #797979;
border-radius: 32px;
}

.login-button{
    text-align: center;
    color: white;
    margin: 0.2em;
    padding: 0.2em;
    font-weight: bold;
    width: 100px;
    height: 35px;
    background:#3a5791;
    box-shadow: 1px 1px 4px #797979;
    border-radius: 32px;
    margin: 2em;
}

.login-button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
   
}

img{
    margin-right: 15px;
}